* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background-color: #d9d9d9;
    color: #111111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 10px;
}

button {
    background-color: #222222;
    color: #dddddd;
    padding: 10px 20px;
    font-size: 16px;
}

button :hover {
    cursor: pointer;
    background-color: #444444;
}

a {
    color: #444444;
}

img {
    height: 1000px;
    width: 800px;
    margin-top: 100px;
}